<!-- <mat-card
  appearance="outlined"
  class="baby-action-card"
  (contextmenu)="onStartEditMode($event)"
>
  <div class="mat-card-content">
    <div class="main-section">
      <h4 class="card-title">{{ babyActionData?.category.name }}</h4>
      <img
        mat-card-image
        src="{{ babyActionData?.category.imagePath }}"
        alt="{{ babyActionData?.category.name }}"
        class="action-img"
      />
      <span class="time-info">
        <mat-card-subtitle class="time-text">
          {{ babyActionData?.creationTime | date : "dd/MM/yy" }} -
          {{ babyActionData?.creationTime | date : "HH:mm:ss" }}
        </mat-card-subtitle>
      </span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Icon-button with a menu"
        class="menu-button"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onStartEditMode()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item *ngIf="!filterMode" (click)="onFilter()">
          <mat-icon>filter</mat-icon>
          <span>Filter</span>
        </button>
        <button mat-menu-item *ngIf="filterMode" (click)="onUnfilter()">
          <mat-icon>filter_none</mat-icon>
          <span>Unfilter</span>
        </button>
        <button mat-menu-item (click)="onDelete()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>

    <div
      class="description-section"
      *ngIf="!editMode || index !== activeEditModeIndex"
    >
      <p>{{ babyActionData?.description }}</p>
    </div>

    <div class="edit-section" *ngIf="editMode && index === activeEditModeIndex">
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          #descriptionTextarea
          [(ngModel)]="babyActionData.description"
          placeholder="Edit description"
          style="height: 80px"
        ></textarea>
      </mat-form-field>

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          (click)="onEditSubmit(descriptionTextarea.value)"
        >
          Save
        </button>
        <button mat-raised-button color="accent" (click)="onCancelEdit()">
          Cancel
        </button>
        <button mat-raised-button color="warn" (click)="onDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</mat-card> -->
