:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.event-list-viewport {
  flex: 1;
  min-height: 0;

  app-baby-event-card {
    display: flex;
    justify-content: center;
  }
}
