<div class="container-fluid">
  <div class="container">
    <h1 class="text-center">{{ strings.HEADER }}</h1>
    @for (category of babyEventsCategories(); track category.id) {
    <app-baby-event-preferences-item
      [babyEventCategory]="category"
      (modified)="onChanged()"
    ></app-baby-event-preferences-item>
    }

    <div class="action-buttons">
      <button
        mat-fab
        [class.save]="hasChanged"
        [disabled]="!hasChanged"
        (click)="save()"
      >
        {{ strings.SAVE }}
      </button>
      <button mat-button (click)="cancel()">{{ strings.CANCEL }}</button>
    </div>
  </div>
</div>
