<app-baby-events-panel (filter)="onFilter($event)"></app-baby-events-panel>
<hr />

@if (displayedEvents().length === 0) {
<app-alert-message
  type="info"
  [title]="strings.NO_EVENTS_FOUND"
  [message]="strings.ADD_NEW_EVENTS"
>
</app-alert-message>
} @else {
<cdk-virtual-scroll-viewport itemSize="158" class="event-list-viewport">
  <app-baby-event-card
    *cdkVirtualFor="let event of displayedEvents(); trackBy: trackByUid"
    [event]="event"
    [filterMode]="filterMode()"
    (filter)="onFilter($event)"
    (unfilter)="onUnfilter()"
  ></app-baby-event-card>
</cdk-virtual-scroll-viewport>
}
