<app-baby-events-panel (filter)="onFilter($event)"></app-baby-events-panel>
<hr />
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        @for (event of displayedEvents(); track event.uid) {
        <app-baby-event-card
          [event]="event"
          [filterMode]="filterMode()"
          (filter)="onFilter($event)"
          (unfilter)="onUnfilter()"
        ></app-baby-event-card>
        } @empty {
        <app-alert-message
          type="info"
          [title]="strings.NO_EVENTS_FOUND"
          [message]="strings.ADD_NEW_EVENTS"
        >
        </app-alert-message>
        }
      </div>
    </div>
  </div>
</div>
