<mat-card class="card-style">
  <div class="card-header">
    <img
      class="event-img"
      [src]="babyEventCategory.category.imagePath"
      [alt]="babyEventCategory.category.id"
    />

    <div class="title-and-checkboxes">
      <div class="category-title">
        {{ babyEventCategory.category.value }}
      </div>
    </div>
  </div>

  <div class="default-comment-field">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label> {{ strings.DEFAULT_COMMENT }}</mat-label>
      <input
        matInput
        [value]="babyEventCategory.favorite.commonComments[0] ?? ''"
        (input)="updateCommonComment($event.target.value)"
      />
    </mat-form-field>
  </div>
</mat-card>
