<div class="row">
  <div class="card mb-3">
    <div class="col-12">
      <img
        src="{{ babyActionCategory.imagePath }}"
        class="img-fluid rounded-start actionImg"
        alt="{{ babyActionCategory.name }}"
      />
      <label for="cateroryNameCheckbox" style="margin-right: 10px">
        Enable {{ babyActionCategory.name }}:
        <input
          (click)="onChanged()"
          type="checkbox"
          id="cateroryNameCheckbox"
          [(ngModel)]="babyActionCategory.isCategoryEnable"
        />
      </label>
      <label
        for="cateroryDescCheckbox"
        *ngIf="babyActionCategory.isCategoryEnable"
        >| Enable Default Description
        <input
          (click)="onChanged()"
          type="checkbox"
          id="cateroryDescCheckbox"
          [(ngModel)]="babyActionCategory.isDefaultDescriptionEnable"
        />
      </label>
    </div>
    <div
      class="col-12"
      *ngIf="
        babyActionCategory.isCategoryEnable &&
        babyActionCategory.isDefaultDescriptionEnable
      "
    >
      <div class="form-floating">
        <textarea
          class="form-control"
          id="defaultDescriptionText"
          style="height: 80px"
          (keyup)="updateDefaultDescription($event.target.value)"
        >
          {{ babyActionCategory.defaultDescription }}
        </textarea>
        <label for="defaultDescriptionText">Default Description </label>
      </div>
    </div>
  </div>
</div>
