<mat-card class="card-style">
  <div class="mat-card-content">
    <div class="date">
      {{ measurement?.date | date : "dd/MM/yy" }}
    </div>

    <div class="measurements-container">
      <div class="measurement">
        <p class="measurement-title">{{ strings.WEIGHT }}</p>
        <p class="measurement-value">{{ measurement.weight }}</p>
      </div>
      <div class="measurement">
        <p class="measurement-title">{{ strings.HEIGHT }}</p>
        <p class="measurement-value">{{ measurement.height }}</p>
      </div>
      <div class="measurement">
        <p class="measurement-title">{{ strings.HEAD }}</p>
        <p class="measurement-value">{{ measurement.headMeasure }}</p>
      </div>
    </div>

    <!-- Menu Button  -->
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Icon-button with a menu"
      class="menu-button"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openEditMeasurementForm()">
        <mat-icon color="primary">edit</mat-icon>
        <span>{{ strings.EDIT }}</span>
      </button>
      <button mat-menu-item (click)="onDelete()">
        <mat-icon color="warn">delete</mat-icon>
        <span>{{ strings.DELETE }}</span>
      </button>
    </mat-menu>
  </div>
</mat-card>
