.mat-card-content {
  display: flex;
  align-items: center;
  width: 100%;

  .date {
    flex: 0 0 auto;
    font-size: 1rem;
    color: darkblue;
    font-weight: bold;
  }

  .measurements-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    > .measurement {
      text-align: center;
    }

    .measurement-title {
      font-weight: bold;
      font-size: 1rem;
    }

    .measurement-value {
      font-size: 1rem;
    }
  }

  .menu-button {
    flex: 0 0 auto;
  }
}
