.mat-toolbar {
  background-color: #e3f2fd;
  color: black;
}

.mat-toolbar .nav-images {
  max-height: 45px;
  max-width: 45px;
  /* border-radius: 50%; */
  border-radius: 4px;
  margin-right: 20px;
}

/* Show navbar links only on screens larger than 600px */
.mat-toolbar .navbar-links {
  display: none;
}

@media (min-width: 600px) {
  .mat-toolbar .navbar-links {
    display: flex;
    flex-grow: 1;
  }
}

/* Active link styling */
.mat-toolbar .router-link-active {
  color: darkblue;
}

.mat-toolbar .spacer {
  flex: 1;
}

.mat-toolbar .menu-icon {
  color: black;
}

.mat-toolbar .mat-menu-item {
  color: black;
}

.mat-toolbar .mat-divider {
  margin: 5px 0;
}
