<mat-toolbar class="mat-elevation-z4">
  <!-- App Icon -->
  <a class="nav-buttons" routerLink="baby-actions" aria-label="Go to homepage">
    <img src="favicon.ico" alt="App Logo" class="navbar-logo" />
  </a>

  <!-- Nav Images -->
  <img
    class="nav-image"
    *ngIf="(isLoggedIn$ | async) && (userImageUrl$ | async)"
    [src]="userImageUrl$ | async"
    (error)="userImageUrl$ = of(null)"
  />

  <img
    class="nav-image"
    *ngIf="(isLoggedIn$ | async) && (babyImageUrl$ | async)"
    [src]="babyImageUrl$ | async"
    (error)="babyImageUrl$ = of(null)"
  />

  <!-- Navbar Links (Visible on larger screens) -->
  <div class="navbar-links" *ngIf="isLoggedIn$ | async">
    <a
      class="nav-buttons"
      mat-button
      routerLink="/baby-actions"
      routerLinkActive="router-link-active"
      >Baby Actions</a
    >
    <a
      class="nav-buttons"
      mat-button
      routerLink="/growth-tracking"
      routerLinkActive="router-link-active"
      >Growth Tracking</a
    >
  </div>

  <!-- Menu Icon -->
  <button
    *ngIf="isLoggedIn$ | async"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="nav-buttons menu-icon"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/baby-actions">Baby Actions</button>
    <button mat-menu-item routerLink="/growth-tracking">Growth Tracking</button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/baby-actions-preferences">
      Preferences
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      routerLink="/add-baby"
      [disabled]="userHaveBabies"
      (click)="preventNavigation($event)"
    >
      Add Baby
    </button>
    <button mat-menu-item routerLink="/baby-info">Baby Information</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
