<mat-toolbar class="mat-elevation-z4">
  <!-- App Icon -->
  <button mat-icon-button *ngIf="isLoggedIn" (click)="navigateRoot()">
    <img
      src="favicon.ico"
      alt="App Icon"
      style="max-height: 35px; margin-right: 10px"
    />
  </button>

  <!-- Nav Images -->
  <img
    class="nav-images"
    *ngIf="isLoggedIn && userImageUrl"
    [src]="userImageUrl"
    (error)="onUserImageError()"
  />
  <img
    class="nav-images"
    *ngIf="isLoggedIn && babyImageUrl"
    [src]="babyImageUrl"
    (error)="onBabyImageError()"
  />

  <!-- Navbar Links (Visible on larger screens) -->
  <div class="navbar-links" *ngIf="isLoggedIn">
    <a
      class="nav-buttons"
      mat-button
      routerLink="/baby-actions"
      routerLinkActive="router-link-active"
      >Baby Actions</a
    >
    <a
      class="nav-buttons"
      mat-button
      routerLink="/growth-tracking"
      routerLinkActive="router-link-active"
      >Growth Tracking</a
    >
  </div>

  <!-- Spacer to push menu to the right -->
  <span class="spacer"></span>

  <!-- Menu Icon -->
  <button
    *ngIf="isLoggedIn"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="menu-icon"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/baby-actions">Baby Actions</button>
    <button mat-menu-item routerLink="/growth-tracking">Growth Tracking</button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/baby-actions-preferences">
      Preferences
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      routerLink="/add-baby"
      [disabled]="userHaveBabies"
      (click)="preventNavigation($event)"
    >
      Add Baby
    </button>
    <button mat-menu-item routerLink="/baby-info">Baby Information</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
