<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <img
      class="user-avatar"
      *ngIf="isLoggedIn && pictureUrl"
      [src]="pictureUrl"
    />
    <button
      *ngIf="isLoggedIn"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="isLoggedIn">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link routerLinkActive" routerLink="/baby-actions"
            >Baby Actions</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link routerLinkActive" routerLink="/growth-tracking"
            >Growth Tracking</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class=".nav-link-active dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Settings
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="/baby-actions">Add Baby</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/baby-actions-preferences"
                >Preferences</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
