.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
}

.gender-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.gender-group .gender-label {
  margin-inline-end: 0.5rem;
  font-weight: bold;
}
