/* MD and above */
@media (min-width: 768px) {
    .actionImg {
      width: 90px;
      height: 90px;
      border-radius: 200px;
      background-size: cover;
    }
  }
  
  /* SM and below */
  @media (max-width: 767.98px) {
    .actionImg {
      width: 45px;
      height: 45px;
      border-radius: 100px;
      background-size: cover;
    }
  }
  
  .time-info {
    white-space: nowrap; /* Prevent wrapping */
  }
  
  .button-container {
    display: inline-block;
  }
  
  textarea {
    width: 100%;
  }
  