<div class="card mb-3" (contextmenu)="onStartEditMode($event)">
  <div class="row g-0 card-body">
    <div class="col-3">
      <!-- <h6 class="card-title">{{ babyActionData.type }}</h6> -->
      <img
        src="{{ babyActionData.category.imagePath }}"
        class="img-fluid rounded-start actionImg"
        alt="{{ babyActionData.category.name }}"
      />
      <span class="time-info">
        <h6 class="card-subtitle text-body-secondary">
          {{ babyActionData.creationTime | date : "dd/MM/yy" }} -
          {{ babyActionData.creationTime | date : "HH:mm:ss" }}
        </h6>
      </span>
    </div>
    <div class="col-9" *ngIf="!editMode">
      <p class="card-text">
        {{ babyActionData.description }}
      </p>
    </div>
    <div class="col-9" *ngIf="editMode">
      <div class="form-floating">
        <textarea
          #descriptionTextarea
          class="form-control"
          id="description "
          style="height: 80px"
        ></textarea>
        <label for="description ">Description </label>
      </div>

      <div class="button-container">
        <button
          class="btn btn-success"
          (click)="onEditSubmit(descriptionTextarea.value)"
        >
          V
        </button>
        <button class="btn btn-danger" (click)="onCancelEdit()">X</button>
      </div>
    </div>
  </div>
</div>
