<div class="container-fluid">
  <div class="container">
    <hr />
    <app-growth-tracking-new-measurement></app-growth-tracking-new-measurement>
    <hr />
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/growth-tracking/height"
          routerLinkActive="active"
          >Height</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/growth-tracking/weight"
          routerLinkActive="active"
          >Weight</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/growth-tracking/head-measure"
          routerLinkActive="active"
          >Head Measure</a
        >
      </li>
    </ul>
    <hr />
    <router-outlet></router-outlet>
    <app-growth-tracking-info></app-growth-tracking-info>
  </div>
</div>


