<div class="container mt-4">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <div class="card">
    <div class="card-header">
      <h5>Baby Information</h5>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-sm-4">
          <strong>Baby Key:</strong>
        </div>
        <div class="col-sm-8 d-flex">
          {{ uid }}
          <button
            mat-icon-button
            color="primary"
            aria-label="Copy UID"
            (click)="copyUIDToClipboard()"
            style="margin-left: 10px"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">
          <strong>Name:</strong>
        </div>
        <div class="col-sm-8">
          {{ name }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">
          <strong>Birth Date:</strong>
        </div>
        <div class="col-sm-8">
          {{ birthDate | date : "longDate" }}
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <strong>Baby Image:</strong>
          </div>
          <div class="col-sm-8">
            <img
              *ngIf="babyImageUrl"
              [src]="babyImageUrl"
              alt="Baby Image"
              style="max-width: 100px; max-height: 100px"
            />
            <p *ngIf="!babyImageUrl">No image available</p>
            <input
              type="file"
              accept="image/*"
              (change)="onImageSelected($event)"
              hidden
              #fileInput
            />
            <button
              class="btn btn-primary btn-sm mt-2 ms-2"
              (click)="fileInput.click()"
            >
              Change Image
            </button>
          </div>
        </div>
      </div>
      <div class="text-end">
        <button class="btn btn-danger btn-sm" (click)="deleteBaby()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
