<!-- <div class="row">
  <div class="container">
    <h1>Baby Actions Preferences</h1>
    <app-baby-action-category-pref
      *ngFor="let category of babyActionsCategories; let i = index"
      [babyActionCategory]="category"
      [index]="i"
    ></app-baby-action-category-pref>
  </div>
</div> -->

<div class="container-fluid">
  <div class="container">
    <div class="container">
      <h1 class="text-center">Baby Actions Preferences</h1>
      <br />
      <app-baby-action-category-pref
        *ngFor="let category of babyActionsCategories; let i = index"
        [babyActionCategory]="category"
        [index]="i"
      ></app-baby-action-category-pref>
    </div>
  </div>
</div>
