<div class="row">
  <div class="col-xs-12">
    @for (measurement of measurements(); track measurement) {
    <app-growth-tracking-list-item
      [measurement]="measurement"
    ></app-growth-tracking-list-item>
    } @empty {
    <!-- TODO - change to use the alert component -->
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">{{ "No measurements found!" }}</h4>
      <p class="alert-info">{{ "Please add new measurements..." }}</p>
    </div>
    }
  </div>
</div>
