<mat-card
  appearance="outlined"
  class="baby-event-card"
  (contextmenu)="onEdit($event)"
>
  <div class="mat-card-content">
    <div class="main-section">
      <h4 class="card-title">{{ getCategoryName(event.category) }}</h4>
      <img
        mat-card-image
        src="{{ event.category.imagePath }}"
        alt="{{ event.category.id }}"
        class="event-img"
      />
      <span class="time-info">
        <mat-card-subtitle class="time-text">
          {{ event.time | date : "dd/MM/yy" }} -
          {{ event.time | date : "HH:mm" }}
        </mat-card-subtitle>
      </span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Icon-button with a menu"
        class="menu-button"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit()">
          <mat-icon color="primary">edit</mat-icon>
          <span>{{ strings.EDIT }}</span>
        </button>
        @if (filterMode) {
        <button mat-menu-item (click)="onUnfilter()">
          <mat-icon color="accent">filter_none</mat-icon>
          <span>{{ strings.UNFILTER }}</span>
        </button>
        } @else {
        <button mat-menu-item (click)="onFilter()">
          <mat-icon color="accent">filter</mat-icon>
          <span>{{ strings.FILTER }}</span>
        </button>
        }
        <button mat-menu-item (click)="onDelete()">
          <mat-icon color="warn">delete</mat-icon>
          <span>{{ strings.DELETE }}</span>
        </button>
      </mat-menu>
    </div>

    @if (event.comment) {
    <p>
      <strong>{{ strings.COMMENT }}:</strong> {{ event.comment }}
    </p>
    }
  </div>

  <div class="users-section">
    @if (event.createdBy === event.lastEditedBy) {
    <p class="same-user">
      {{`${strings.CREATED_AND_EDITED_BY}: ${event.createdBy}` }}
    </p>
    } @else {
    <p class="creation">{{`${strings.CREATED_BY}: ${event.createdBy}` }}</p>
    @if (event.lastEditedBy) {
    <p class="editing">{{`${strings.EDITED_BY}: ${event.lastEditedBy}` }}</p>
    } }
  </div>
</mat-card>
