<mat-card>
  <mat-card-header>
    <mat-card-title>{{ strings.BABY_INFO}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-row">
      <span class="label">{{ strings.BABY_UID}}</span>
      <span class="value">
        {{ baby()?.uid }}
        <button
          mat-icon-button
          color="primary"
          aria-label="Copy UID"
          (click)="copyUIDToClipboard()"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </span>
    </div>
    <div class="info-row">
      <span class="label">{{ strings.BABY_NAME}}</span>
      <span class="value">{{ baby()?.name }}</span>
    </div>
    <div class="info-row">
      <span class="label">{{ strings.BABY_BIRTH_DATE}}</span>
      <span class="value">{{ baby()?.birthDate | date : "longDate" }}</span>
    </div>
    <div class="info-row">
      <span class="label">{{ strings.BABY_GENDER }}</span>
      <span class="value"
        >{{ baby()?.gender === 'Male' ? strings.MALE : strings.FEMALE}}</span
      >
    </div>
    <hr />
    <div class="info-row">
      <span class="label">{{ strings.BABY_IMAGE}}</span>
      <span class="value">
        <ng-container *ngIf="(babyImageUrl()) as url; else noImage">
          <img [src]="url" alt="Baby Image" class="baby-image" />
        </ng-container>
        <ng-template #noImage><span>{{ strings.NO_IMAGE}}</span></ng-template>
        <input
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
          hidden
          #fileInput
        />
        <button
          mat-raised-button
          class="change-image-button"
          (click)="fileInput.click()"
        >
          {{ strings.CHANGE_IMAGE}}
        </button>
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="deleteBaby()">
      {{ strings.DELETE_BABY}}
    </button>
  </mat-card-actions>
</mat-card>
