<mat-card>
  <mat-card-header>
    <mat-card-title>Baby Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-row">
      <span class="label">Baby Key:</span>
      <span class="value">
        {{ baby().uid }}
        <button
          mat-icon-button
          color="primary"
          aria-label="Copy UID"
          (click)="copyUIDToClipboard()"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </span>
    </div>
    <div class="info-row">
      <span class="label">Name:</span>
      <span class="value">{{ baby().name }}</span>
    </div>
    <div class="info-row">
      <span class="label">Birth Date:</span>
      <span class="value">{{ baby().birthDate | date : "longDate" }}</span>
    </div>
    <hr />
    <div class="info-row">
      <span class="label">Baby Image:</span>
      <span class="value">
        <ng-container *ngIf="babyImageUrl; else noImage">
          <img [src]="babyImageUrl" alt="Baby Image" class="baby-image" />
        </ng-container>
        <ng-template #noImage>
          <span>No image available</span>
        </ng-template>
        <input
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
          hidden
          #fileInput
        />
        <button
          mat-raised-button
          class="change-image-button"
          (click)="fileInput.click()"
        >
          Change Image
        </button>
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="deleteBaby()">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
